<configuration>
  <appSettings file="">
    <add key="virtualDirPath" value="/Kaohsiung_EPB/PollutantDiffusion" />
    <add key="db_server" value="192.168.3.227" />
    <add key="db_database" value="JunoDC" />
    <add key="db_username" value="JS_DataUser" />
    <add key="db_password" value="2wsx#EDC123456@@" />
  </appSettings>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="main">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>